#dmgfooter {
	position: fixed;
	bottom: -60px;
	left: 50%;
	margin-left: -524px;
	width: 1040px;
	height: 46px;
	padding: 3px;
	z-index: 800;
}

.dmgfooterProp {
	/*Set Fonts and Colors */
	font-family: Tahoma, Helvetica, Arial, san-serif;
	font-size: 12px;
	line-height: 18px;
	/*Set Curve Radius */
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	/*Set Shadow */
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
	/*Set Background Gradient */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #d0d0d0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d0d0d0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#d0d0d0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#d0d0d0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#d0d0d0 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#d0d0d0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0d0d0',GradientType=0 ); /* IE6-9 */
	#dmgfooter:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}/* IE6 */ * html #dmgfooter {height: 1%;}/* IE7 */*:first-child+html #dmgfooter {min-height: 1px;}
}

#stickyfooteropen {
	position: fixed;
	bottom: -32px;
	left: 50%;
	margin-left: 491px;
	width: 24px;
	height: 18px;
	padding: 3px;
	z-index: 600;
	cursor:pointer;
	text-align:center;
}

.stickyfooteropenProp {
	/*Set Fonts and Colors */
	font-family: Tahoma, Helvetica, Arial, san-serif;
	font-size: 12px;
	line-height: 18px;
	/*Set Curve Radius */
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	/*Set Shadow */
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
	/*Set Background Gradient */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #d0d0d0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d0d0d0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#d0d0d0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#d0d0d0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#d0d0d0 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#d0d0d0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0d0d0',GradientType=0 ); /* IE6-9 */
	#stickyfooteropen:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}/* IE6 */ * html #dmgfooter {height: 1%;}/* IE7 */*:first-child+html #dmgfooter {min-height: 1px;}
}

.ftnewssection {
	padding: 5px;
	border-left: none;
	border-right: none;
	float: left;
}
.ftheadlinesection {
	padding: 5px;
	border-left: 1px solid #FFF;
	border-right: 1px solid #CCC;
	float: left;
	text-align: left;
}
.ftsection {
	padding: 5px;
	border-left: 1px solid #FFF;
	border-right: 1px solid #CCC;
	float: left;
	text-align: right;
	width: 172px;
}
.ftfirst {border-left: none;}
.ftlast {border-right: none;  border-left: none; float: right;}
.ftpositive {color: #006600;}
.ftnegative {color: #CC0000;}
.ftbold {font-weight: bold; text-transform: uppercase;}
.ftad {margin-top: -3px; margin-bottom: -3px;}
#stickysettingsbox {
	position: fixed;
	bottom: 52px;
	left: 50%;
	margin-left: 30px;
	width: 220px;
	height: 170px;
	padding: 3px;
	background-color: #ffffff;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: none;
}
.entersymbol {
	text-decoration: underline;
	cursor:pointer;
	color: #A0A0A0;
}
#stickyfootersettings {
	cursor:pointer;
}
#stickyfooterminimize {
	cursor:pointer;
}
#stickyfooterclose {
	cursor:pointer;
}
#stickysymbol1, #stickysymbol2, #stickysymbol3, #stickysymbol4, #stickysymbol5, #stickysymbol6 {
	cursor:pointer;
}
.stickysym {
	float: left;
}
.stickyprc {
	float: right;
}