#friendFinderApp #accordionContainer {
	padding: 0;
}
#friendFinderApp #accordionContainer h4 {
	cursor: pointer;
	margin: 0;
	font-size: 12px;
	font-weight: normal;
	height: 36px;

}
#friendFinderApp #accordionContainer li {
	padding: 1px;

}
#friendFinderApp #accordionContainer li.active {
	padding: 0;
	border: 1px solid #AAA;
	background-image: -webkit-gradient(
		linear,
		left top,
		left 32px,
		color-stop(0, rgb(220,220,220)),
		color-stop(1, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
		center top,
		rgb(220,220,220) 0,
		rgb(255,255,255) 32px
	);
}

#friendFinderApp #accordionContainer .active h4 {
	font-weight: bold;
}
#friendFinderApp #accordionContainer .acc-section {
	overflow: hidden;
}
#friendFinderApp #accordionContainer .acc-content {
	overflow: hidden;
}

#friendFinderApp .search { padding: 0 15px 0 0px; }
#friendFinderApp .results p { padding: 0 8px; }

#friendFinderApp .search, #friendFinderApp .results .resultContainer {
}

#friendFinderApp #accordionContainer h4 span {
	background-repeat: no-repeat;
	background-position: 5px 5px;
	display: block;
	padding: 15px 40px 0;
	height: 32px;
}

#friendFinderApp #accordionContainer .gmail span { background-image: url('/shared/images/gmail.gif'); }
#friendFinderApp #accordionContainer .yahoo span { background-image: url('/shared/images/yahoo.gif'); }
#friendFinderApp #accordionContainer .hotmail span { background-image: url('/shared/images/hotmail.gif'); }
#friendFinderApp #accordionContainer .aol span { background-image: url('/shared/images/aol.gif'); }
#friendFinderApp #accordionContainer .scraper span { background-image: url('/shared/images/other.gif'); }
#friendFinderApp #accordionContainer .writein span { background-image: url('/shared/images/network/118566_36136_32_keyboard_icon.png'); }

#friendFinderApp #accordionContainer .active .upload {
	background-color: white;
	margin: -2px;
}
#friendFinderApp #accordionContainer div.upload {
	margin: 0;
}
#friendFinderApp #accordionContainer .upload h4 {
	font-size: 9px;
	font-weight: normal;
	border-top: 1px solid black;
	line-height: 1em;
	padding: 10px 5px;
	margin: 0;
}
#friendFinderApp #accordionContainer .upload span {
	color: #10466D;
	display: inline;
	padding: 0;
}
#friendFinderApp #accordionContainer .upload .search {
	padding: 10px 20px;
}
#friendFinderApp #accordionContainer .upload h3 {
	color: black;
}

#friendFinderApp textarea {
	display: block;
	width: 100%;
	height: 48px;
}
#friendFinderApp input.field {
	width: 150px;
}
#friendFinderApp .fieldHint {
	font-size: 11px;
}

.contactList {
	padding: 0;
	margin: 0;
}

.contactList .contact .avatar img {
	display: block;
	max-width: 40px;
	padding: 0;
	margin: 0;
}

#friendFinderApp .contactList li {
	list-style-type: none;
	position: relative;
}/*
#friendFinderApp .contactList li .email {
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	text-align: right;
	display: block;
}
#friendFinderApp .contactList li .nickname {
	top: 0;
	left: 25px;
	right: 0;
	position: absolute;
	text-align: left;
	display: block;
}*/
#friendFinderApp .contactList.bcuser li {
	padding: 5px 0;
}
#friendFinderApp .contactList li.contact {
	border-top: 1px solid #999;
	min-height: 48px;
	margin: 5px 0 10px;
	padding-bottom: 0 0 10px;
	position: relative;
	list-style-type: none;
}
#friendFinderApp .contactList li.contact:first-child {
	border: none;
}
#friendFinderApp .contactList .contact .info {
	top: 0;
	left: 80px;
}
#friendFinderApp .contactList .info2 {
	top: 0;
	left: 250px;
}

#friendFinderApp .contactList .usersName { font-weight: bold; }
#friendFinderApp .contactList .hiddenItems {
	color: #F00;
}
#friendFinderApp .contactList .location, .contactList .info2, .contactList .feed, .contactList .hiddenItems {
	font-size: 10px;
}

#friendFinderApp .contactList .nickname {
	font-size: 11px;
	font-weight: bold;
}
#friendFinderApp .contactList.emails {
	font-size: 11px;
}

.FFButtons {
	clear: both;
	padding-bottom: 2em;
	padding-top: 1em;
	border-top: 1px #CCC solid;
	text-align: right;
}

#friendFinderApp form .FFButtons {
	clear: none;
	margin: 0;
}

#friendFinderApp h1, #friendFinderApp h2, #friendFinderApp h3, #friendFinderApp p, #friendFinderApp form {
	margin: 0 0 1em;
	text-indent: 0;
	line-height: normal;
	float: none;
}

#friendFinderApp h1 {
	font-size: 22px;
}

#friendFinderApp .colleagues {
	width: 260px;
	float: right;
	background-image: url("/shared/images/find.gif");
	background-repeat: no-repeat;
	padding: 0 0 0 48px;
}
#friendFinderApp .colleagues input {
	margin: .25em 0 0;
}

#friendFinderApp .providerHeader h2 {
	height: 30px;
	padding-left: 36px;
	padding-top: 8px;
}

#friendFinderApp #accordionContainer form.credentials {
	margin-left: 90px;
}
#friendFinderApp #accordionContainer form.credentials label {
	clear: left;
	position: relative;
	left: -90px;
	display: block;
	font-size: 12px;
}
#friendFinderApp #accordionContainer form.credentials label span {
	float: left;
	display: block;
	width: 85px;
	text-align: right;
	padding-right: 5px;
	padding-top: 2px;
}


#friendFinderApp .FFContent div.FFButtons {
	border: none;
	padding: 0;
	margin: 0;
	width: 30px;
}

li.noMatch {
	padding: 10px;
	text-align: center;
}

#friendFinderApp .leftcol {
	margin: 0;
	padding: 0;
	width: 375px;
	float: left;
}

#friendFinderApp .enteremails {
	margin-left: 375px;
	width: 325px;
}

#accordionContainer h4, .plainh4 {
	font-size: 1em;
	font-weight: normal;
}

#friendFinderMatchesStep2 {
	display: none;
}
