.jqmWindow {
	display: none;	
	position: fixed;
	_poition: absolute;
	top: 35px;
	left: 45%;
	margin-left: -300px;
	width: 740px;
/*	background-color: #FFF;
	color: #333;
	border: 1px solid black;
	height: 80%;*/
}

.jqmOverlay {
	background-color: #000;
}

.jqmWindow div.maincol {
    /*border-bottom: 1px solid #666666;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;*/
    height: 100%;
    /*margin-left: -12px;
    margin-right: -12px;*/
    margin-top: 0px;
    overflow: auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 16px;
}

.jqmWindow div.modalcol {
	border-bottom: none !important;
}

.jqmWindow span.maincol {
	float: none !important;
}

.jqmWindow .title.bar {
    /*border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    border-top: 1px solid #666666;*/
    margin: -12px -12px 1em;
}
	
.jqmWindow div.maincol .bar, #modal div.maincol #bar {
	display: none;
}

.jqmWindow div.maincol .mpbox {
	border: 0px !important;
}

/* Fixed posistioning emulation for IE6 */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

