.useraction {
	padding-bottom: 2px;
}
.useraction, .useraction select {
	position: relative;
	font-size: 10px;
	vertical-align: bottom;
}
.useraction .alertPrice {
	width: 5em;
}

.useraction strong {
	text-transform: uppercase;
}

.useraction .short, .useraction .voteDown, .useraction .down {
	color: red;
}
.useraction .long, .useraction .voteUp, .useraction .up {
	color: green;
}

.useraction .upPct, .useraction .downPct {
	text-align: center;
	width: 3.5em;
	position: absolute;
	bottom: 0;
}
div.vote p {
	line-height: 200%;
}
.useraction .voteResults {
	margin: 0 3.5em;
	position: relative;
}
.useraction .upBar, .useraction .downBar {
	height: 8px;
	position: absolute;
	bottom: 3px;
}
.useraction .upPct {
	left: 0;
}
.useraction .downPct {
	right: 0;
}
.useraction .upBar {
	background-color: #66FF66;
	left: 0;
}
.useraction .downBar {
	background-color: #FF6666;
	right: 0;
}

.useraction .voteUp, .useraction .voteDown {
	padding: 2px 0 2px 16px;
	background-repeat: no-repeat;
}
.useraction .voteUp {
	background-image: url("/shared/images/thumb_up.png");
}
.useraction .voteDown {
	background-image: url("/shared/images/thumb_dn.png");
}

.useraction.alert.set {
	padding-left: 20px;
	background-repeat: no-repeat;
	background-image: url("/shared/images/Alert.png");
}
.useraction.alert.triggered {
	background-color: #FBE3E4;
}

.useraction .buttons {
	clear: right;
	margin-top: .5em;
	text-align: right;
}
.useraction .buttons a {
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 5px;
}

.vote_summary_item div.voteResultsContainer {
    position: relative;
    width: 320px;
}

.alert.menuButton {
	float: right; 
}

.addAlert.popout {
	width: auto;
	height: auto;
}

#save-alert .alert-price {
	float: right;
	width: 100px;
	height: 14px;
}

#save-alert .alert-errors{
	color: red;
	font-weight:bold;
	padding-bottom:10px;
}

.delete-alert, .delete-delete {
	float:right;
	background-image: url('/shared/images/delete_hint.png');
	height:12px;
	width:12px;
	margin:8px 3px;
}
.delete-alert:hover,.delete-delete:hover{
	background-image: url('/shared/images/delete-active.png');
	cursor: pointer;
}

.edit-alert,.edit-edit{
	float:right;
	background-image: url('/shared/images/settings-hint.png');
	height:12px;
	width:12px;
	margin:8px 3px;
}

.edit-alert:hover,.edit-edit:hover{
	background-image: url('/shared/images/settings-active.png');
	cursor: pointer;
}

.quote-alert .options, .triggered-alert .options{
	float: right;
}

.quote-alert, .triggered-alert{
	border-top:1px solid #CCCCCC;
	padding:4px 0px;
	font-size:11px;
}

.triggered-alert {
	background-color: #FBE3E4;
}

.alert-icon{
	vertical-align:middle;	
	padding:0 0 2px 3px;
}
div.voteResults{
	background-repeat: no-repeat;
	background-image: url('/shared/images/vote-results-bar.png');
	width:320px;
	height: 8px;
	margin: 10px 0 10px 35px !important;

}
#slide{
	width:3px;
	height:16px;
	background-color: black;
	position:absolute;
	top:-3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.slide{
	width:3px;
	height:16px;
	background-color: black;
	position:absolute;
	top:-3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}